body {
  font-family: Meiryo, Verdana, Arial, sans-serif;
}

body > .container {
  padding: 60px 15px 15px;
}

h1 {
  margin-bottom: 20px;
}

/* Signin */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin button {
  margin-top: 10px;
}
