<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ユーザ管理</title>
    <link href="../../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    </nav>
    <!-- Begin page content -->
    <div class="container" layout:fragment="content">
      <h1>ユーザ一覧</h1>
      <div th:if="${errorDeleteMyself}" th:text="#{users.errorDeleteMyself}"
        class="alert alert-danger" role="alert">...</div>
      <div th:if="${successCreateUser != null}"
        th:text="#{users.successCreateUser(${successCreateUser.lastName} + ' ' + ${successCreateUser.lastName})}"
        class="alert alert-success" role="alert">...</div>
      <div th:if="${successUpdateUser != null}"
        th:text="#{users.successUpdateUser(${successUpdateUser.lastName} + ' ' + ${successUpdateUser.lastName})}"
        class="alert alert-success" role="alert">...</div>
      <div th:if="${successDeleteUser != null}"
        th:text="#{users.successDeleteUser(${successDeleteUser.lastName} + ' ' + ${successDeleteUser.lastName})}"
        class="alert alert-success" role="alert">...</div>
      <p><a class="btn btn-primary" href="new.html" th:href="@{/users/create(form)}">新規作成</a></p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ログインID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.loginId}">yamada</td>
            <td th:text="${user.lastName} + ' ' + ${user.firstName}">山田 太郎</td>
            <td th:text="${user.mailAddress}">yamada_taro@example.com</td>
            <td>
              <form th:action="@{/users/{id}/delete(id=${user.id})}" method="post">
                <a th:href="@{/users/{id}/update(id=${user.id},form)}" href="detail.html" class="btn btn-info btn-sm">編集</a>
                <button type="submit" class="btn btn-danger btn-sm delete-user" data-user="山田 太郎" 
                    th:attr="data-user=${user.lastName} + ' ' + ${user.firstName}">削除
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="../../static/lib/jquery.min.js" th:src="@{/lib/jquery.min.js}"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script layout:fragment="script">
      $('form button.delete-user').on('click', function() {
        return (confirm('「' + $(this).data('user') + '」を削除しますがよろしいですか？'));
      });
    </script>
  </body>
</html>
