<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>顧客一覧</title>
</head>
<body>
  <div layout:fragment="content" class="col-sm-12">
    <p>
      <a class="btn btn-default" th:href="@{/customers/new}">新規作成</a>
    </p>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>ID</th>
        <th>姓</th>
        <th>名</th>
        <th colspan="2">編集</th>
      </tr>
      <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}">100</td>
        <td th:text="${customer.lastName}">Last Name</td>
        <td th:text="${customer.firstName}">First Name</td>
        <td><a class="btn btn-default" th:href="@{/customers/{customerId}/edit(customerId=${customer.id})}">編集</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{/customers/{customerId}/delete(customerId=${customer.id})}">削除</a>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
