<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="ja">
<meta charset="UTF-8" />
<title>Layout</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
</head>
<body>
  <div class="container">
    <h1>顧客管理システム</h1>
    <div sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" method="post">
        <p>
          <span sec:authentication="principal.user.username">duke</span>さんログイン中。
          <input type="submit" class="btn btn-default btn-xs" value="ログアウト" />
        </p>
      </form>
    </div>
    <div layout:fragment="content">Fake content</div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>