<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ログイン</title>
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{/style.css}" href="../static/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    </nav>
    <!-- Begin page content -->
    <div class="container" layout:fragment="content">
      <form th:action="@{/login}" action="administrators/list.html" method="post" class="form-signin">
        <h2 class="form-signin-heading">ログイン</h2>
        <label for="inputLoginId" class="sr-only">ログインID</label>
        <input id="inputLoginId" type="text" name="loginId" class="form-control" placeholder="ログインID" required="required" autofocus="autofocus" />
        <label for="inputPassword" class="sr-only">パスワード</label>
        <input id="inputPassword" type="password" name="password" class="form-control" placeholder="パスワード"  required="required" />
        <div th:if="${param.error}" class="alert alert-danger">ログインIDまたはパスワードが正しくありません</div>
        <button class="btn btn-primary btn-block" type="submit">ログイン</button>
      </form>
    </div>
    <!-- End page content -->
    <script th:src="@{/lib/jquery.min.js}" src="../static/lib/jquery.min.js"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}" src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
